label{
    width:120px;
}

input{
    margin-right:10px;
}

select{
    margin-right:10px;
}

span{
    margin-right: 10px;
}


td{
    text-align: center;
}

button{
    background-color: #000;
    color:#fff;
}

.flex{
    display: flex;
    align-items: center;
}

.justify-content{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

#order_box{
    margin: 0 auto;
    width: 800px;
    margin-top: 88px;
    font-size: 20px;
}

.order_title{
    border-bottom: 3px solid #707070;
    padding-bottom:10px;
}

.order_list{
    padding:20px;
    width:100%;
}

.order-info{
    width:100%;
}
.order_info input{
    width:fit-content;
}

#detail_address{
    margin-right:15px;
}
#memo{
    width:100%;
    height:100px;
    margin-top:10px;
}

.product_img{
    width:80px;
    height:80px;
    border-radius: 10px;
    border:1px solid #a4a3a3;
}
.product_info{
    margin-left:20px;
}
.product_name{
    font-weight: bold;
}
.product_color{
    font-size:15px;
    text-align: left;
}

#point{
    width:50%;
}
.discount_button{
    width:200px;
    height:80px;
    margin:10px;
}

.radio_button{
    margin-left:15px;
}

#check{
    width:fit-content
}

#pay_button{
    width:80%;
    height:80px;
    font-size: 25px;
    margin-top: 20px;
}